{% extends 'base.html' %}

{% block title %}
  Bucket
{% endblock %}

{% block content %}
  <table class="table table-dark">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Size</th>
        <th scope="col">Download</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    <tbody>
      {% for object in objects %}
        <tr>
          <th scope="row">{{ forloop.counter }}</th>
          <td>{{ object.Key }}</td>
          <td>{{ object.Size|filesizeformat }}</td>
          <td><a href="{% url 'home:bucket_download_object'  object.Key %}">download</a></td>
          <td><a href="{% url 'home:bucket_delete_object' object.Key %}">delete</a></td>
        </tr>
      {% endfor %}

    </tbody>
  </table>
{% endblock %}