{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>{% block title %}Online Shop{% endblock %}</title>
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
  </head>
  <body>
    {% include 'inc/navbar.html' %}
    <div class="jumbotron">
      {% include 'inc/messages.html' %}
      {% block content %}{% endblock %}
    </div>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
  </body>
</html>